<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v6_2">
         <span class="v4_2">Welcome to PeerConnect</span><span class="v4_44">“Rate, review, and (hopefully) remain friends!”</span>
         <div class="v4_1374"></div>
         <div class="v4_1384"><span class="v4_1387">Welcome to PeerConnect</span></div>
         <div class="v44_202"><span class="v44_203">Welcome to PeerConnect</span></div>
         <div class="v4_1719"></div>
         <div class="v4_1723"></div>
         <span class="v4_1805"> PeerConnect makes peer assessment effortless! Give constructive feedback, track your progress, and improve teamwork—all in one place.</span>
         <div class="name"></div>
         <div class="name"></div>
      </div>
   </body>
</html>
