<!DOCTYPE html>
<html>
   <head>
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v6_6">
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <span class="v70_6129">Add Course</span><span class="v68_3166">Current Courses</span>
         <div class="v70_12331"></div>
         <div class="v70_12334"></div>
         <div class="name"></div>
         <div class="v70_12177">
            <div class="v70_12048"></div>
            <div class="name"></div>
            <div class="name"></div>
         </div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="name"></div>
         <div class="v70_6118">
            <div class="name"></div>
         </div>
         <div class="v70_12330">
            <div class="v70_12329">
               <div class="name"></div>
            </div>
            <div class="name"></div>
         </div>
         <span class="v70_12134">Teams</span>
         <div class="v116_1328">
            <div class="v116_1329"></div>
            <div class="name"></div>
            <span class="v116_1331">My Courses</span><span class="v116_1332">Jane Doe</span><span class="v116_1333">(Admin)</span>
            <div class="v116_1334"></div>
         </div>
      </div>
   </body>
</html>