<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v6_4">
         <div class="v6_25"></div>
         <div class="v53_240">
            <div class="v6_178"></div>
            <span class="v6_180">Sign Up</span>
         </div>
         <div class="v53_228">
            <div class="v6_140"></div>
            <span class="v6_34">Email</span>
         </div>
         <div class="v53_227">
            <div class="v6_176"></div>
            <span class="v6_813">Password</span>
         </div>
         <div class="v53_220">
            <div class="v6_16"></div>
            <div class="v6_188"></div>
         </div>
         <span class="v6_809">Name</span>
         <div class="v53_229">
            <div class="v52_202"></div>
            <span class="v53_214">Student</span>
            <div class="v53_216"></div>
         </div>
         <span class="v6_1335">Already have an account?</span><span class="v6_1345">Log In</span>
         <div class="v6_982"></div>
         <div class="v53_219">
            <span class="v6_13">Create an Account</span>
            <div class="v6_1298"></div>
         </div>
         <div class="name"></div>
         <div class="v53_230">
            <div class="v53_212"></div>
            <span class="v53_225">Professor</span>
            <div class="v53_223"></div>
         </div>
         <div class="v53_241"></div>
      </div>
   </body>
</html>