{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Instrument+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Knewave&display=swap" rel="stylesheet">

    <link href="{% static 'styles/peer_answer_quant.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/peer_answer_qual.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/peer_answer_tabs.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/student_dashboard.css' %}" rel="stylesheet" /> 
    <link href="{% static 'styles/professor_dashboard.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/create_assessment.css' %}" rel="stylesheet" />  
    <link href="{% static 'styles/navbar.css' %}" rel="stylesheet" />
    <link href="{% static 'styles/create.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>PeerConnect</title>
</head>
<body>
    {% include 'navbar.html' %}
    
    {% block content %}
    {% endblock %}
</body>
</html>