{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Instrument+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link href="{% static 'styles/course_form.css' %}" rel="stylesheet" />

    <title>PeerConnect</title>
</head>
<body>
    <div class="course-form-wrapper">
        <form method="POST" action="{% url 'create_course' %}">
            {% csrf_token %}

            <h1 id="title">Create a Course</h1>
            <label for="name">Course</label>
            <input type="text" id="name" name="name" required>
            
            <label for="students">Students</label>
            <!--<input type="text" id="students" name="students" list="students-list" placeholder="Start typing to search..." required multiple>

            <datalist id="students-list">
                {% for student in students %}
                    <option value="{{ student.user.first_name }} {{ student.user.last_name }}" data-id="{{ student.id }}">
                {% endfor %}
            </datalist>
            
            <button type="submit">Add</button>
            
            <div class="selected-students">
                {% if selected_students %}
                    {% for student in selected_students %}
                        <span>{{ student.user.first_name }} {{ student.user.last_name }}</span>
                    {% endfor %}
                {% endif %}
            </div>-->
            
            <select id="students" name="students" multiple required>
                {% for student in students %}
                    <option value="{{ student.id }}">{{ student.user.first_name }} {{ student.user.last_name }}</option>
                {% endfor %}
            </select>

            <button type="submit">Create Course</button>
        </form>
    </div>
</body>
</html>