{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Instrument+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link href="{% static 'styles/create_team.css' %}" rel="stylesheet" />

    <title>PeerConnect</title>
</head>
<body>
    <section class="team-container">
        {%if course %}
            {% if teams %}
                <h1 class="team-title">{{ selected_course.name }} Teams</h1>
                    {% for team in teams %}
                        <form method="GET" action="{% url 'create' %}">
                            <input type="hidden" name="team_id" value="{{ team.id }}">
                            <button type="submit" class="team-box">
                                {{ team.name }}
                            </button>
                        </form>
                    {% endfor %}
            {% else %}
                <h1 class="team-title">Once you start creating teams, they'll appear here!</h1>
            {% endif %}
        </section>
        <section class="team-form-container">
            <h1 class="title">Create a New Team</h1>
            <form method="POST" action="{% url 'save_team' course.id %}" class="team-form">
                    
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="team-name">Team Name:</label>
                    {{ form.name }}
                </div>
        
                <div class="form-group">
                    <label>Members:</label>
                    <div class="checkbox-group">
                        {{ form.members }}
                    </div>
                </div>

                <button type="submit" class="submit-btn">Create Team</button>
            </form>
        </section>
    {%else %}
        <p>Nothing.</p>
    {% endif %}

</body>
</html>
