{% extends 'base.html' %}

{% block content %}
{% load static %}  

<div class="assessment-container">
    <h1>Create a New Assessment</h1>
    <form method="POST" action="{% url 'create_assessment' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        
        <div id="questions-container">
            {% for subform in formset %}
                <div class="question-form">
                    {{ subform.as_p }}
                    {% if subform.can_delete %}
                        <label for="{{ subform.prefix }}-DELETE" style="color: #c0392b; font-weight: 500;">
                        {{ subform.DELETE }} Remove this question
                        </label>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <!--<a href="?questions={{ formset.total_form_count|add:1 }}" id="add-question">Add Question</a>-->
        <input type="hidden" name="form_count" value="{{ form_count }}">
        <button type="submit" name="add_question" value="true" id="add-question">Add Question</button>
        

        
        <button type="submit" class="create-assessment">Create Assessment</button>
    </form>
</div>

{% endblock %}