{% extends 'base.html' %}

{% block content %}
<div class="parent-container">

   <div class="left-column">
      <div class="title">Courses</div>
      <div class="course-box">CSCI 1011</div>
      <div class="new-course"><a href="#course-popup">Create Course</a></div>
   </div>

   <div class="main-content">
      <div class="grid-container">
         <form method="POST" action="#">
            <!-- Course Title -->
            <input type="text" id="course-title" name="course-title" placeholder="Enter the course title" >
            
            <!-- Year -->
            <input type="number" id="year" name="year" placeholder="Year"> 
            
            <!-- Semester -->
            <input type="number" id="semester" name="semester" placeholder="Semester" > 
            
            <!-- Send Invites -->
            <input type="text" id="invites" name="invites" placeholder="Send Invites" > 
            
            <div class="team-menu">
               <h2>Teams</h>

               <ul class="team-list">
                  <li class="team-item" data-team-id="1">Team A</li>
                  <li class="team-item" data-team-id="2">Team B</li>
                  <li class="team-item" data-team-id="3">Team C</li>
               </ul>


            <button type="submit">Save Changes</button>
         
         </form>
      </div>
   </div>
</div>

<div id="course-popup" class="modal">
   <div class="modal-content">
      <a href="#" class="close">&times;</a> <!-- Close button -->
      {% include 'PeerConnect/course_form.html' %}
   </div>
</div>

{% endblock %}