{% extends 'base.html' %}

{% block content %}
{% load static %}  

<div class="assessment-container">
    <h1>Create a New Assessment</h1>
    <form method="POST" action="{% url 'create_assessment' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        
        <div id="questions-container">
            {% for subform in formset %}
                <div class="question-form">
                    {{ subform.as_p }}
                </div>
            {% endfor %}
        </div>


    <button type="button" id="add-question">Add Question</button>
    <button type="submit">Create Assessment</button>
    </form>
</div>
    
<script src="{% static 'styles/PeerConnect/js/questions.js' %}"></script>
{% endblock %}