{% extends 'base.html' %}

{% block content %}
<div class="parent-container">

   <div class="left-column">
      <div class="title">Courses</div>
      <div class="course-box">CSCI 1011</div>
      <div class="new-course">New Course</div>
   </div>

   <div class="main-content">
      <div class="grid-container">
         <form method="POST" action="#">
            <!-- Course Title -->
            <input type="text" id="course-title" name="course-title" placeholder="Enter the course title" >
            
            <!-- Year -->
            <input type="number" id="year" name="year" placeholder="Year"> 
            
            <!-- Semester -->
            <input type="number" id="semester" name="semester" placeholder="Semester" > 
            
            <!-- Send Invites -->
            <input type="text" id="invites" name="invites" placeholder="Send Invites" > 
            
            <div class="team-menu">
               <h2>Teams</h>
             </div>


            <button type="submit">Save Changes</button>
         
         </form>
      </div>



   </div>

</div>

{% endblock %}