{% extends 'base.html' %}

{% block content %}
<div class="parent-container">

   <div class="left-column">
      <div class="title">Courses</div>
      {% for course in courses %}
         <form method="POST" action="{% url 'create' %}">
            {% csrf_token %}
            <input type="hidden" name="selected_course_id" value="{{ course.id }}">
            <button type="submit" class="course-box">{{ course.name }}</button>
         </form>
      {% endfor %}
      <a href="#course-popup"><div class="new-course">Create Course</div></a>
   </div>

   <div class="main-content">
      {% if selected_course %}
        <div id="team-content">
            {% include 'PeerConnect/create_team.html' %}
        </div>
      {% else %}
         <p id="no-course-message">You have no courses selected, please select or create to begin!</p>
      {% endif %}
   </div>
</div>

<div id="course-popup" class="modal">
   <div class="modal-content">
      <div class="modal-header">
         <h1 id="title">Create a Course</h1>
         <a href="#" class="close">&times;</a> <!-- Close button -->
      </div>
      {% include 'PeerConnect/course_form.html' %}
   </div>
</div>

{% endblock %}