{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Instrument+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />

    <link href="{% static 'styles/landingpage.css' %}" rel="stylesheet" />

    <title>PeerConnect</title>
</head>
<body>
    <div class="landing-container">
        <h1 class="main-title">Welcome to PeerConnect</h1>
        <p class="subtitle">“Rate, review, and (hopefully) remain friends!”</p>
        <div class="info-section">
            <p class="info-text">PeerConnect makes peer assessment effortless! Give constructive feedback, track your progress, and improve teamwork—all in one place.</p>
        </div>
        <div class="login-container">
            <a href="/accounts/google/login/"><button class="login-btn">Login</button></a>
        </div>
        <div class="signup-container">
         <a href="/accounts/google/login/"><button class="signup-btn">Sign Up</button></a>
        </div>
    </div>
</body>
</html>

