{% extends 'base.html' %}

{% block content %}
<div class="assessment-container">
    <div class="tabs">
      <a href="{% url 'peer_answer_quant' %}"><button class="tab"> Quantitative</button></a>
      <a href="{% url 'peer_answer_qual' %}"><button class="tab active"> Qualitative</button></a>
    </div>

    <div class="question-section">
        <label for="strengths">What are the student’s strengths?</label>
        <textarea id="strengths" class="input-box" placeholder="Write your response here..."></textarea>
    </div>

    <div class="question-section">
        <label for="weaknesses">What are the student’s weaknesses?</label>
        <textarea id="weaknesses" class="input-box" placeholder="Write your response here..."></textarea>
    </div>

    <button class="submit-btn">Save</button>
</div>

{% endblock %}
