{% extends 'base.html' %}

{% block content %}
<div class="summary-container">
    <div class="greeting">Results for {{ assessment.name }}</div>
      {% if questions %}
        {% for question in questions %}
          {% if question.question_type == "open" %}
          <div class="question-container">
            <div class="section-title">Question {{ question.order }}: {{ question.text }}</div>
              <div class="response-section">
                  <h3 class="response-title">Individual Responses</h3>
                
                  {% for response in question_responses %}
                    {% if response.question == question %}
                    <details class="response-entry">
                      <summary>{{ response.student }}</summary>
                      <p>{{ response.answer_text }}</p>

                     
                      <input type="checkbox" id="edit-toggle-{{ response.id }}" class="edit-toggle" />
                      <label for="edit-toggle-{{ response.id }}" class="edit-label">Edit this response</label>
                      <div class="edit-form">
                      <form method="POST" action="{% url 'edit_open_response' response.id %}">
                        {% csrf_token %}
                        <textarea id="text_response_{{ response.id }}" name="text_response" rows="3" cols="50">{{ response.answer_text }}</textarea><br>
                        <button type="submit">Save</button>
                      </form>
                      </div>
                    </details>
                    
                    {% endif %}
                  {% endfor %}
                </div>
            </div>
          {% else %}
          <div class="question-container">
            <div class="section-title">Question {{ question.order }}: {{ question.text }}.</div>
            <div class="rating-section">
              {% for response in question_responses %}
                {% if response.question == question %}
                <h3 class="rating-title">Rating ({{ response.student }}): {{ response.answer_likert }} / 5</h3>
              
                <div class="star-rating">
                    <div class="star empty"></div>
                    <div class="star filled" style="width: 74.8%"></div>
                </div>
                {% endif %}
              {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endfor %}
      {% else %}
          <p>No assessment questions yet.</p>
      {% endif %}
</div>

  {% if not assessment.published %}

  
  <form method="post" action="{% url 'publish_assessment' assessment.id %}">
      {% csrf_token %}
      <button type="submit" class="publish-button">Publish Results</button>
  </form>
  

  {% else %}
  <p class="published">Results Published!</p>
  {% endif %}

<!-- 
<div class="publish-button">
    <a href="{% url 'professor_dashboard' %}">
        Publish Results
    </a>
</div> -->
{% endblock %}