{% extends 'base.html' %}

{% block content %}
<div class="summary-container">
    <div class="greeting">Results for {{assessment.name}}</div>
    <div class="question-container">
        <div class="section-title">Question: This is a test question.</div>
        <div class="results-title">Results: </div>
    </div>
    <div class="question-container">
        <div class="section-title">Question: Another test question appears here.</div>
        <div class="results-title">Results: </div>
    </div>
</div>
{% endblock %}