{% extends 'base.html' %}

{% block content %}

   <div class="assessment-container">
      <div class="tabs">
         <a href="{% url 'peer_answer_quant' %}"><button class="tab active"> Quantitative</button></a>
         <a href="{% url 'peer_answer_qual' %}"><button class="tab"> Qualitative</button></a>
       </div>

      <div class="ratings">
         <div class="rating-option">
             <span>The student communicates well.</span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
         </div>
         <div class="rating-option">
             <span>The student is on time with their work.</span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
         </div>
         <div class="rating-option">
             <span>The student is respectful to others.</span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
         </div>
         <div class="rating-option">
             <span>The student contributes thoughtfully.</span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star checked"></span>
             <span class="fa fa-star"></span>
             <span class="fa fa-star"></span>
         </div>
     </div>

      <button class="submit-btn">Submit</button>
   </div>
{% endblock %}