{%load static %}
<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
      <link href="{% static 'styles/peer_answer_qual.css' %}" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v6_10">
         <div class="v13_2"></div>
         <span class="v13_6">Quantitative</span>
         <div class="v13_8"></div>
         <span class="v13_5">Qualitative</span><span class="v13_114">What are the student’s strengths?</span><span class="v13_127">What are the student’s weaknesses?</span>
         <div class="v64_553"></div>
         <span class="v64_554">Assertive
         Communicative
         Diligent</span>
         <div class="v64_555"></div>
         <span class="v64_556">Aggressive
         Controlling
         Lazy</span>
         <div class="v64_558"></div>
         <span class="v64_559">submit</span>
         <div class="v116_1191">
            <div class="v116_1192"></div>
            <div class="name"></div>
            <span class="v116_1194">My Courses</span><span class="v116_1195">John Doe</span><span class="v116_1196">(Student)</span>
            <div class="v116_1197"></div>
         </div>
      </div>
   </body>
</html>