{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <aside class="sidebar">
            <h1>Welcome {{type}} {{user.first_name}}!</h1>
            <h4>Summary Statistics</h4>
            
        </aside>

        <div class="items">
            <div class="courses">
                <a href="{% url 'create' %}"><button type="submit" class="course-box">Software Engineering</button></a>
                {% for course in courses %}
                    <a href="{% url 'create' %}"><button type="submit" class="course-box">{{ course.name }}</button></a>
                {% endfor %}
                <a href="{% url 'create' %}"><button type="submit" class="new-course">+</button></a>
            </div>
        </div>
    </div>
{% endblock %}