{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <aside class="sidebar">
            <h1 class="greeting">Welcome {{type}} {{user.first_name}}!</h1>
            <h4>Summary Statistics</h4>
        </aside>

        <div class="items">
            <h4>Courses</h4>
            <div class="course-container">
                {% for course in courses %}
                    <a href="{% url 'create' %}">
                        <button class="course-card">{{ course.name }}</button>
                    </a>
                {% endfor %}
                <a href="#course-popup">
                    <button class="course-card new-course">+</button>
                </a>
            </div>
            <h4>Assessments</h4>
            <div class="assessment-container">
                {% if assessments %}
                    <ul>
                        {% for assessment in assessments %}
                            <li>
                                <a href="{% url 'view_assessment' assessment.id %}">{{ assessment.name }}</a>
                                <p id="due-date">{{ assessment.due_date }}</p>
                                <a href="{% url 'assessment_summary' assessment.id %}">View Results</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No assessments available.</p>
                {% endif %}
            </div>
            <button class="create-assessments-btn"><a href="{% url 'create_assessment' %}" class="create-assessments-link"> Create Assessment</a></button>
        </div>
    </div>

    <div id="course-popup" class="modal">
        <div class="modal-content">
           <div class="modal-header">
              <h1 id="title">Create a Course</h1>
              <a href="#" class="close">&times;</a> <!-- Close button -->
           </div>
           {% include 'PeerConnect/course_form.html' %}
        </div>
     </div>

{% endblock %}