{% extends 'base.html' %}

{% block content %}
      <div class="dashboard-container">
         <h2 class="greeting">Welcome {{user.first_name}} - {{type}}</h2>
         
         <div class="dashboard-grid">
           <!-- To-Do Section -->
           <div class="to-do-container">
             <h3 class="section-title">To-Do</h3>
             <div class="to-do">
              {% for assessment in assessments %}
              <a href="{% url 'submit_assessment' assessment.id %}">
                <button class="to-do-btn">
                  {{assessment.name}}
                  <p class="due-date">{{assessment.due_date}}</p>
                </button>
              </a>

              {% endfor %}
               <!--<a href="#">
                 <button class="to-do-btn">
                   Chemistry Team Assessment 3
                   <span class="notification-badge">!</span>
                   <p class="due-date">Due: Tomorrow, 11:59 PM</p>
                 </button>
               </a>
               <a href="#">
                 <button class="to-do-btn">
                  SWE Team Assessment 2
                   <p class="due-date">Due: Friday, 11:59 PM</p>
                 </button>
               </a>
               <a href="#">
                 <button class="to-do-btn">
                   SWE Team Assessment 3
                   <p class="due-date">Due: Next Monday, 9:00 AM</p>
                 </button>
               </a>-->
               
               <div class="to-do-progress">
                 <div class="progress-bar"></div>
               </div>
               <p>5 of 8 tasks completed</p>
             </div>
           </div>
           
           <!-- Results Section -->
           <div class="results-container">
             <h3 class="section-title">Recent Results</h3>
             <div class="results">
               <a href="#">
                 <button class="results-btn">
                   Chemistry Team Assessment 2
                 </button>
               </a>
               <a href="#">
                 <button class="results-btn">
                   SWE Team Assessment 1
                 </button>
               </a>
               <a href="#">
                 <button class="results-btn">
                   Chemistry Team Assessment 1
                 </button>
               </a>
               <a href="#" class="see-all-link">
                  <button class="see-all-btn">
                    See All Results
                  </button>
                </a>                
             </div>
           </div>
           
           <!-- Teams Section -->
           <div class="teams-container">
             <h3 class="section-title">My Teams</h3>
             {% for team in teams%}
             <div class="teams">
               <div class="team-card">
                 <h4 class="team-name">{{team.name}}</h4>
                 <p class="team-course">{{team.course}}</p>
                 <div class="team-members">
                  <span class="team-member">You</span>
                  {% with members=team.members.all %}
                  {% for member in members %}
                  {% if member != request.user.userprofile %}
                   <span class="team-member">{{member.user}}</span>
                  {% endif %}
                  {% endfor %}
                  {% endwith %}
                 </div>
                <!--<p class="team-role">Member</p>-->
               </div>
               
              </div>
              {% endfor %}
              
            </div>
            <div class="teams-container">
              <h3 class="section-title">My Courses</h3>
              {% for course in courses %}
              <div class="team-card">
                <h4 class="team-name">{{course.name}}</h4>
                <p class="team-course">{{course.professor}}</p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}