{% extends 'base.html' %}

{% block content %}


<div class="tab-wrapper">
    <h2 class="assessment-title">{{ assessment.name }}</h2>
    {% if assessment.self_assessment %}
        <h2 class="assessment-subtitle">Answer for yourself as well!</h2>
    {% endif %}
    <!-- Radio buttons for tab switching -->
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1" class="tab-label">Open-Ended</label>

    <input type="radio" name="tabs" id="tab2">
    <label for="tab2" class="tab-label">Likert Scale</label>

    <form method="post" class="tab-content">
        {% csrf_token %}
        {{ formset.management_form }}

        <div class="tab" id="qualitative-tab">
            {% for form in formset %}
                {% if form.instance.question.question_type == 'open' %}
                    <div class="question-response">
                        <label>{{ form.instance.question.text }}</label>
                        {{ form.id }}
                        {{ form.answer_text }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="tab" id="quantitative-tab">
            {% for form in formset %}
                {% if form.instance.question.question_type == 'likert' %}
                    <div class="question-response">
                        <label>{{ form.instance.question.text }}</label>
                        {{ form.id }}
                        <div class="star-rating">
                            {% for i in "54321" %}
                                {% with unique_id=form.prefix|add:"_star_"|add:i %}
                                    <input type="radio"
                                           id="{{ unique_id }}"
                                           name="{{ form.prefix }}-answer_likert"
                                           value="{{ i }}"
                                           {% if form.initial.answer_likert|stringformat:"s" == i %}checked{% endif %}>
                                    <label for="{{ unique_id }}">&#9733;</label>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        

        <button type="submit" class="submit-btn">Submit Assessment</button>
    </form>
</div>
{% endblock %}
