{% extends 'base.html' %}

{% block content %}
{% load static %}  

<div class="assessment-container">
    <h1>{{ assessment.name }}</h1>
    <form method="POST" action="{% url 'view_assessment' assessment.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        {{ formset.management_form }}
        
        <div id="questions-container">
            {% for subform in formset %}
                <div class="question-form">
                    {{ subform.as_p }}
                </div>
            {% endfor %}
        </div>

    <button type="submit">Save Assessment</button>
    </form>

    <form method="get" action="">
        <input type="hidden" name="extra" value="{{ formset.total_form_count|add:1 }}">
        <button type="submit">Add Another Question</button>
    </form>
</div>

{% endblock %}