<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua&display=swap" rel="stylesheet" />
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
   </head>
   <body>
      <div class="v6_1365">
         <div class="v6_1366">
         </div>
         <span class="v6_1367">Log In</span>
         <div class="v6_1389">
            <div class="v6_1370">
            </div>
            <span class="v6_1372">Log In</span>
         </div>
         <span class="v6_1379">Sign Up</span>
         <div class="v6_1380"></div>
         <div class="v6_1381"></div>
         <div class="v6_1382"></div>
         <span class="v6_1402">Don’t have an account?</span>
         <div class="v53_231">
            <div class="v53_232"></div>
            <span class="v53_233">Email</span>
         </div>
         <div class="v53_235">
            <div class="v53_236"></div>
            <span class="v53_237">Password</span>
         </div>
         <div class="v53_244"></div>
      </div>
   </body>
</html>