<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inder&display=swap" rel="stylesheet" />
        <link href="./main.css" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <div class="v1_1686"><span class="v1_1695">Statistics Summary: CSCI3356 - Delivery One
Student: John Doe</span>
<span class="v1_1696">Summary of Comments</span>
<span class="v1_1697">Average score - The student communicates well. </span>
<span class="v1_1698">Average score - The student is on time with their work.</span>
<span class="v1_1700">Average score - The student is respectful to others.</span>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<span class="v1_1811">Your peers think you are good with communication, and that you are kind and pleasant to work with. However, some mentioned waiting for you to finish your part after the deadline. They also mentioned you are often late to meetings.</span>
<div class="name"></div>
<div class="name"></div><div class="name"></div>
<div class="name"></div>
<div class="name"></div>
<div class="v70_12332"></div>
<div class="v116_1161"><div class="v116_1162"></div>
<div class="name"></div>
<span class="v116_1164">My Courses</span>
<span class="v116_1165">John Doe</span>
<span class="v116_1166">(Student)</span>
<div class="v116_1167"></div></div></div></body></html>