* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inder', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('assets/peers2.webp');
  background-size: cover; 
  opacity: 0.4;
  z-index: -1; /
}

body {
  font-size: 14px;
  /* background: #fff; */
  /* background-image: url('assets/peers.avif') ; */
  color: #000;
}


/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../assets/delete.png') no-repeat center center;
  background-size: cover;
  opacity: 0.4;
  z-index: -1;
} */ 

.landing-container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

/* Header Styles */
.main-title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    color: #333;
}

/* Hero Section */
.hero-section {
    padding: 50px 20px;
    margin-top: 40px;
    border-radius: 10px;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}

/* Info Section */
.info-section {
    margin-top: 30px;
    padding: 20px;
}

.info-text {
    font-size: 20px;
    font-weight: normal;
    color: #333;
}

.login-container , .signup-container  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container a, .signup-container a {
  text-decoration: none;
}

.login-btn, .signup-btn {
  padding: 20px;
  margin: 10px;
  width: 150px;
  text-align: center;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
}
  
/* Header Styles */
.login-btn {
  /* background-color: #1e3a5f;*/
  background-color: #1e3a5f;
}

.signup-btn {
  background-color:#e07a5f;
  
}
