* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inder', sans-serif;
  }
  
  body {
    font-size: 14px;
    background: #fff;
    color: #000;
  }
  
  /* Container */
.container {
    margin: 0px 10px;
    padding: 100px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .sidebar {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    text-align: center;
    height: 500px;
    max-height: 100%;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
  }

  .sidebar ul li {
    padding: 20px;
    border: 2px solid #4e67bb;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s, color 0.3s;
  }

  .to-do-container, .results-container, .form-activity {
    max-width: 85%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .greeting {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
  }
  
  .to-do, .results {
    text-align: left;
    margin-top: 20px;
  }
  
  .to-do a, .results a {
    text-decoration: none;
  }
  
  .to-do-btn, .results-btn {
    margin: 10px;
    padding: 15px;
    font-size: medium;
    width: 100%;
    text-align: center;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: block;
  }
  
  .to-do-btn {
    background-color: #315cec;
  }
  
  .results-btn {
    background-color: rgb(240, 50, 50);
  }

  /* Modal background overlay */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

#course-popup:target {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

/* Modal content styling */
.modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 60%;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  animation: modalSlideIn 0.3s ease-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 24px;
  margin-bottom: 10px;
}

.close {
  margin-right: 30px;
  font-size: 35px;
  color: #333;
  text-align: right;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

.close:hover {
  color: #ff4747;
}

/* Modal slide-in animation */
@keyframes modalSlideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    padding: 20px;
  }
}